[client]
user = {{app.value.mysql.user.user}}
port = {{app.value.mysql.configs.port}}
socket = {{app.value.mysql.user.home}}/mysql/var/mysql.sock

[mysql]
user = {{app.value.mysql.user.user}}
port = {{app.value.mysql.configs.port}}
socket = {{app.value.mysql.user.home}}/mysql/var/mysql.sock

[mysqld]
user = {{app.value.mysql.user.user}}
datadir = {{app.value.mysql.user.home}}/mysql/var/data
port = {{app.value.mysql.configs.port}}
socket = {{app.value.mysql.user.home}}/mysql/var/mysql.sock
